service:
  type: LoadBalancer
ingressRoute:
  dashboard:
    enabled: false
logs:
  general:
    level: INFO
ports:
  web:
    forwardedHeaders:
      insecure: true
  websecure:
    forwardedHeaders:
      insecure: true
